<div>

        <ul><li>
                    THIS
                    FILE

                    WILL

                    BE

                    IGNORED                        </li>
        </ul>

</div>
